part2_UEFI/EFI/BOOT/bootia32.efi
part2_UEFI/EFI/BOOT/bootx64.efi
part2_UEFI/EFI/BOOT/32_bit_only_____bootia32.efi
part2_UEFI/EFI/BOOT/64_bit_only_____bootia32.efi

part1_MAIN/boot/memdisk
part1_MAIN/boot/grub.exe

part1_MAIN/boot/acronis/add/*.krn
part1_MAIN/boot/acronis/add/*.fs
part1_MAIN/boot/acronis/ati/*.krn
part1_MAIN/boot/acronis/ati/*.fs

part1_MAIN/boot/grub/fonts/unicode.pf2

part1_MAIN/boot/grub/i386-pc/*.mod
part1_MAIN/boot/grub/i386-pc/*.img
part1_MAIN/boot/grub/i386-pc/*.lst
part1_MAIN/boot/grub/i386-pc/*.o
part1_MAIN/boot/grub/i386-pc/*.sh

part1_MAIN/boot/grub/locale/*.mo

part1_MAIN/boot/grub/x86_64-efi/*.mod
part1_MAIN/boot/grub/x86_64-efi/*.cfg
part1_MAIN/boot/grub/x86_64-efi/*.lst

part1_MAIN/boot/mint/*.iso

part1_MAIN/boot/winpe/*.iso

part1_MAIN/boot/kali/*.iso

part1_MAIN/boot/debian/*.iso
part1_MAIN/boot/debian/netinst_64/linux
part1_MAIN/boot/debian/netinst_64/initrd.gz
part1_MAIN/boot/debian/netinst_86/linux
part1_MAIN/boot/debian/netinst_86/initrd.gz

part1_MAIN/boot/rescuecd/*.ima
part1_MAIN/boot/rescuecd/*.img
part1_MAIN/boot/rescuecd/*.iso
part1_MAIN/boot/rescuecd/*.bin

part1_MAIN/EFI/microsoft/

part1_MAIN/SSTR/

part1_MAIN/Soft/

part1_MAIN/WinSetup

part1_MAIN/boot/memtest/bios/*.bin
part1_MAIN/boot/memtest/uefi/*.efi
part1_MAIN/boot/memtest/uefi/*.cfg

